.validate-event {
  padding: 2rem;
  /* Updated: Use 98% width to fit more columns comfortably */
  max-width: 98%; 
  margin: 0 auto;
}

.validate-event h1 {
  color: #333;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
